<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Repositorios-->
    <bean id="expeditionsRepository"
          class="com.example.repository.ExpeditionsRepository"/>

    <bean id="sightingsRepository"
          class="com.example.repository.SightingsRepository"/>

    <!--Services-->
    <bean id="expeditionsService"
          class="com.example.service.ExpeditionsService">
        <property name="expeditionsRepository" ref="expeditionsRepository"/>
    </bean>

    <bean id="sightingsService"
          class="com.example.service.SightingsService">
        <property name="expeditionsRepository" ref="expeditionsRepository"/>
        <property name="sightingsRepository" ref="sightingsRepository"/>
    </bean>

</beans>
